# Cache do Python
__pycache__/
*.pyc
*.pyo

# Backup de banco de dados
db-backup/

# Ambiente virtual
venv/
.env/
.venv/

#ide
.idea

# Arquivos temporários
*.log
*.bak
*.tmp
*~

# Arquivos de sistema
.DS_Store
Thumbs.db
